:root{
    --mainColor: #A44A3F;
    --lightText:white;
}
    /* edit fonts later  */

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--mainColor);
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 5%;
}
header h1{
    padding: 2%;
    font-size:27px;
    font-weight: bolder;
    color: var(--lightText);
}

header a {
    padding: 2%;
    font-size: 25px;
    text-decoration: none;
    color: var(--lightText);
}

h2 {
    padding: 2%;
    font-size: 70px;
    font-weight: bolder;
    background-color: var(--mainColor);
}

section{
    display: flex;
    padding: 4%;
}

section h3 {
    margin-top: 2%;
    font-size: 27px;
    font-weight: bold;
}

section p {
    border-color: black;
    border-width: 10px;
    margin-top: 1%;
    width: 30%;
}


.projects{
    background-color:#9CB380 ;
    text-align: right;  
    flex-wrap: wrap; 
}

.projects img{
    margin: 2%;
    width: 40%;
    height: 40%; 
}

.projects article {
    margin: 10px;
    display: flex;
    align-items: flex-end;
    width: 390px;
    height: 200px;
    background-size: 400px 200px;
    background-image: url(./Images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg) ;
}

/* title inside of project cards styling */
.projects article div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 40%;
    height: 15%;
    background-color: #A44A3F;

}

.projects article div h4{
    padding: 4%;
    text-decoration: none;
    color: white;
    text-decoration: underline;
    font-size: 20px;

}

.contactMe{
    display: flex;
    justify-content: space-evenly;
    background-color: #C7AC92;
}

.contactMe img{
    padding-top: 30%;
    width: 50px;


}

#aboutMe {
    justify-content: center;
    background-color: var(--mainColor);
    
}

#aboutMeImage {
    width: 225px;
    height: 327px;
    border-radius: 10px;
    box-shadow: 7px 5px rgba(24, 24, 24, 0.537);
}


#projects {
    background-color:#9CB380 ;
    text-align: right;  
}

#projectsLatest {
    width: 800px;
    height: 400px;
    background-size: 800px 400px;
}

#projectsLatestTitle {
    font-size: 35px;
}

#contactMe{
    padding: 1%;
    background-color: #C7AC92;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}


