:root{
    --mainColor: #A44A3F;
    --lightText:white;
}
    /* edit fonts later  */

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--mainColor);
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 5%;
    text-decoration: underline;
}
header h1{
    padding: 2%;
    font-size:27px;
    font-weight: bolder;
    color: var(--lightText);
}

header a {
    padding: 2%;
    font-size: 25px;
    text-decoration: none;
    color: var(--lightText);
}



section{
    display: flex;
    padding: 4%;
}

h2{
    padding: 2%;
    font-size: 70px;
    font-weight: bolder;
}


.aboutMe {
    justify-content: center;
    justify-content: space-between;
    background-color: var(--mainColor);
    
}

.aboutMe img {
    width: 225px;
    height: 327px;
    border-radius: 10px;
    box-shadow: 7px 5px rgba(24, 24, 24, 0.537);
}

.aboutMe p {
    padding-left: 2%;
    margin-top: 1%;
    width: 225px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.aboutMe h3 {
    margin-top: 2%;
    font-size: 27px;
    font-weight: bold;
    color: white;
}


.projects{
    background-color:#9CB380 ;
    text-align: right;  
    flex-wrap: wrap; 
}

.projects img{
    margin: 2%;
    width: 40%;
    height: 40%; 
}

.projects article {
    margin: 10px;
    display: flex;
    align-items: flex-end;
    width: 390px;
    height: 200px;
    background-size: 400px 200px;
    background-image: url(./Images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg) ;
}


/* title inside of project cards styling */
.projects article div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 40%;
    height: 15%;
    background-color: #A44A3F;

}

.projects article div h4{
    padding: 4%;
    text-decoration: none;
    color: white;
    text-decoration: underline;
    font-size: 20px;

}

.contactMe{
    display: flex;
    justify-content: space-evenly;
    background-color: #C7AC92;
}

.contactMe img{
    padding-top: 30%;
    width: 50px;


}


#aboutMeHeader {
    background-color: var(--mainColor);
}

#projectsHeader {
    background-color:#9CB380 ;
    text-align: right;  
}

#projectsLatest {
    width: 800px;
    height: 400px;
    background-size: 800px 400px;
}

#projectsLatestTitle {
    font-size: 35px;
}

#contactMeHeader{
    padding: 1%;
    background-color: #C7AC92;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

/* when screen is less then width of 890px */
@media screen and (max-width:890px) {

    /* adjusts latest project size  */
    #projectsLatest {
        width: 500px;
        height: 250px;
        background-size: 800px 400px;
    }
    #projectsLatestTitle {
        font-size: 25px;
    }
}

@media screen and (max-width:566px) {

    /* adjusts latest project size  */
    #projectsLatest {
        width: 425px;
        height: 225px;
        background-size: 425px 225px;
    }
    #projectsLatestTitle {
        font-size: 25px;
    }
}

@media screen and (max-width:480px) {

    header{
        display: flex;
        flex-direction: column;
    }

    header h1{
        text-align: center;
    }
    
    .aboutMe {
        align-items: center;
        flex-direction: column;
        
    }

    .aboutMe img {
        width: 225px;
        height: 327px;
        border-radius: 10px;
        box-shadow: 7px 5px rgba(24, 24, 24, 0.537);
        margin-top: 4%;
    }

    .projects{
        flex-direction: column;
        align-items: center;
    }

    .projects article {
    margin: 10px;
    display: flex;
    align-items: flex-end;
    width: 290px;
    height: 75px;
    background-size: 400px 200px;
    background-image: url(./Images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg) ;
    }

    .projects article div {
        width: 40%;
        height: 25%;
    }

    .projects article div h4{
        font-size: 10px;
    }


    #projectsLatestTitle {
        font-size: 25px;
    }


    
    #aboutMeHeader {
        text-align: center;
    }

    #projectsHeader {
        background-color:#9CB380 ;
        text-align: center;  
    }

    /* adjusts latest project size  */
    #projectsLatest {
        width: 325px;
        height: 125px;
        background-size: 425px 225px;
    }
    #projectsLatestTitle {
        font-size: 12px;
    }
}

@media screen and (max-width:360px) {
    #projectsLatest {
        width: 230px;
        height: 125px;
        background-size: 235px 125px;
    }

    .projects article {
        width: 190px;
        height: 75px;
        background-size: cover;
}   

