:root{
    --mainColor: #A44A3F;
    --lightText:white;
}
    /* edit fonts later  */

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--mainColor);
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 5%;
}
header h1{
    padding: 2%;
    font-size:27px;
    font-weight: bolder;
    color: var(--lightText);
}

header a {
    padding: 2%;
    font-size: 25px;
    text-decoration: none;
    color: var(--lightText);
}

section{
    display: flex;
    justify-content: space-around;
    background-color: var(--mainColor);
    padding: 2%;
}

h2 {
    padding: 2%;
    font-size: 70px;
    font-weight: bolder;
    background-color: var(--mainColor);
}

section h3 {
    margin-top: 2%;
    font-size: 27px;
    font-weight: bold;
}

section p {
    margin-top: 1%;
    width: 20%;
}

section img {
    width: 25%;
    height: 25%;
}
